<!DOCTYPE html>
<html lang="pt-br" ng-app="estagio">

<head>
    <meta charset="utf-8"/>
    <title>Gerenciador de cidades</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- SYNTAX HIGHLIGHTER -->
    <link href="http://agorbatchev.typepad.com/pub/sh/3_0_83/styles/shCore.css" rel="stylesheet">
    <link href="http://agorbatchev.typepad.com/pub/sh/3_0_83/styles/shThemeDefault.css" rel="stylesheet">
    <link href="http://agorbatchev.typepad.com/pub/sh/3_0_83/styles/shThemeRDark.css" rel="stylesheet">
    <!-- ANGULAR  -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
    <link rel="stylesheet" href="node_modules/angular-loading-bar/build/loading-bar.min.css"/>
    <script src="app.js"></script>
    <!-- CUSTOM -->
    <link rel="stylesheet" href="custom/style.css"/>
</head>

<body ng-controller="MainController">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Scrapy Spiders Manager">
                </a>
            </div>
            <p class="navbar-text navbar-right"><a href="#" ng-click="clearAll()" class="navbar-link">Limpar memória</a>
            </p>
        </div>
</nav>

<div class="container">
    <div class="starter-template">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Projetos</div>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="project in projects" ng-class="project == _project ? 'selected' : ''">
                            <td>{{$index}}</td>
                            <td>{{project}}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="listSpiders(project)"
                                        title="Listar spiders">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Spiders</div>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="spider in spiders" ng-class="spider == _spider ? 'selected' : ''">
                            <td>{{$index}}</td>
                            <td>{{spider}}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="listFilesAndJobs(spider)"
                                        title="Listar jobs">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                <!--<button type="button" class="btn btn-primary btn-xs" ng-click="schedule(spider)">-->
                                <!--<span class="glyphicon glyphicon-play" aria-hidden="true"></span>-->
                                <!--</button>-->
                                <button type="button" class="btn btn-primary btn-xs"
                                        ng-click="scheduleWithState(spider)" title="Executar spider">
                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Jobs</div>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Job</th>
                            <th>Resumo</th>
                            <th>Arquivos</th>
                            <th>Continuar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="file in files">
                            <td>{{$index+1}}</td>
                            <td>{{file | limitTo:file.length-4}}</td>
                            <td>
                                <!--<a ng-href="#" ng-click="showFileResume($index, file | limitTo:file.length-3)">-->
                                <div ng-show="fileResume.ultimoEstado[$index] == undefined">
                                    <button type="button" class="btn btn-primary btn-xs"
                                            ng-click="showFileResume($index, file | limitTo:file.length-3)"
                                            title="Visualizar estado e quantidade de itens extraídos"><span
                                            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                </div>
                                <!--</a>-->
                                <div ng-show="fileResume.ultimoEstado[$index] != undefined">
                                    {{fileResume.ultimoEstado[$index]}}:
                                    {{fileResume.itemsRaspados[$index]}} item(s) extraídos.
                                </div>
                            </td>
                            <td>
                                <!--<button type="button" class="btn btn-primary btn-xs" ng-click="showFileResume($index, file | limitTo:file.length-3)"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>-->
                                <!--<a ng-href="{{serverScrapyd}}items/{{_project}}/{{_spider}}/{{file}}"> Items </a>-->
                                <a ng-href="#"
                                   ng-click="showFileHighlighter(serverScrapyd + 'items/' + _project + '/' + _spider + '/' + file)">
                                    items </a>
                                <!--<a ng-href="{{serverScrapyd}}logs/{{_project}}/{{_spider}}/{{file | limitTo:file.length-4}}.log">Log </a>-->
                                |
                                <a ng-href="#"
                                   ng-click="showFileHighlighter(serverScrapyd + 'logs/' + _project + '/' + _spider + '/' + (file | limitTo:file.length-4) + '.log')">
                                    log </a>
                            </td>
                            <td>
                                <!--<div ng-show="fileResume.ultimoEstado[$index] == 'Interrompido'">-->
                                <!--<a ng-href="#"-->
                                <!--ng-click="scheduleWithState(_spider, file | limitTo:file.length-4)">-->
                                <!--continuar </a>-->
                                <button type="button"
                                        ng-class="fileResume.ultimoEstado[$index] == 'Interrompido' ? 'btn btn-info btn-xs' : 'btn btn-default btn-xs'"
                                        ng-click="scheduleWithState(_spider, file | limitTo:file.length-4)"
                                        ng-disabled="fileResume.ultimoEstado[$index] != 'Interrompido'"
                                        title="Continuar execução do job"
                                />
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                </button>
                                <!--</div>-->
                            </td>
                        </tr>
                        <!--<tr>-->
                        <!--<td>Totais</td>-->
                        <!--<td>{{files.length}} job(s)</td>-->
                        <!--<td>-</td>-->
                        <!--<td>{{fileResume.totais['itemsRaspados']}}</td>-->
                        <!--<td>-</td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Jobs (executando)</div>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Job</th>
                            <th>Resumo</th>
                            <th>Arquivos</th>
                            <th>Continuar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="job in jobs">
                            <td>{{$index+1}}</td>
                            <td>{{job.job}}</td>
                            <td>
                                <a ng-href="#"
                                   ng-click="showFileHighlighter(serverScrapyd + 'items/' + job.project + '/' + job.spider + '/' + job.job + '.csv')">
                                    items </a>
                                |
                                <a ng-href="#"
                                   ng-click="showFileHighlighter(serverScrapyd + 'logs/' + job.project + '/' + job.spider + '/' + job.job + '.log')">
                                    log </a>
                            </td>
                            <td>{{job.resume}}</td>
                            <td>
                                <!--<a ng-href="#"-->
                                <!--ng-click="cancel(job)">-->
                                <!--parar </a>-->
                                <button type="button" class="btn btn-info btn-xs" ng-click="cancel(job)"
                                        title="Parar job">
                                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <!--<tr>-->
                        <!--<td>Totais</td>-->
                        <!--<td>{{files.length}} job(s)</td>-->
                        <!--<td>-</td>-->
                        <!--<td>{{fileResume.totais['itemsRaspados']}}</td>-->
                        <!--<td>-</td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<h3 class="text-center" id="spider_file"></h3>
<div class="row" id="spider_content">
    <!--<pre class="brush: bash"></pre>-->
</div>

<!-- JQUERY -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<!-- BOOTSTRAP -->
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- MOMENT -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
<!-- SPIN -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js"></script>
<script src="spinner.js"></script>
<!-- SYNTAX HIGHLIGHTER -->
<script src="http://agorbatchev.typepad.com/pub/sh/3_0_83/scripts/shCore.js"></script>
<script src="http://agorbatchev.typepad.com/pub/sh/3_0_83/scripts/shBrushBash.js"></script>
</body>
</html>
